.content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--main-font-family);
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.signin-form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 30px;
  color: #666;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.sign-in-button{
  color: white !important;
  background-color: var(--primary-color) !important;
}

.links {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  font-size: 14px;
  margin-top: 20px;
}

.links a {
  color: #3f51b5;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

// loader

.loader {
  width: 25px;
  height: 25px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, white) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn)
  }
}


.password-button{
  background-color: white;
  border: none;
  margin-right: 5px;
  color:#44474e;
}

.google-signup-button {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 18px;
  justify-content: center;
  border: 1px solid black;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .google-icon-wrapper {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 20px;
    height: 20px;
  }

  span {
    padding: 10px 20px;
    font-weight: 500;
    white-space: nowrap;
  }
}

.or-content{
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px 0px 18px 0px;
}
