.content{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.signin-form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

p {
  text-align: center;
  margin-bottom: 30px;
  color: #666;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.sign-in-button{
  color: white !important;
  background-color: var(--primary-color) !important;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 20px;
}

.links a {
  color: #3f51b5;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

// loader

.loader {
  width: 25px;
  height: 25px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, white) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn)
  }
}
