 <div class="navbar">
    <p class="task-tracker-heading task" (click)="onClick($event)">Task Tracker</p>
    <div class="user-profile-details">
      @if(imageUrl){
        <div [matMenuTriggerFor]="menu">
          <img class="avatar" [src]="imageUrl" (error)="imageUrl = 'assets/default-avatar.jpg'" alt="no-image">
        </div>
      }
      @if(userInitials){
        <div class="avatar" [matMenuTriggerFor]="menu">{{userInitials}}</div>
      }
      <button class="add-task-btn" matTooltip="Add Task (shift + T)" (click)="onAddTask()">Add Task</button>
      @if(addTaskAnimation){
        <div class="swipe">
          <div class="hand-icon"></div>
        </div>
      }
    </div>
    <mat-menu #menu="matMenu">
      <div class="user-info">
        <mat-icon class="profile-icon">account_circle</mat-icon>
        <div>
          <div class="user-name">{{userName}}</div>
          <div class="user-email">{{userEmail}}</div>
        </div>
      </div>
      <hr />
      @if(isValid){
        <button mat-menu-item (click)="viewChart()">
          <mat-icon>bar_chart</mat-icon>View chart
        </button>
      }
      <button (click)="logout()" mat-menu-item class="logout-btn">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </mat-menu>
  </div>

  <ng-template #chartContent>
    <div class="dialog-content">
      <p class="chart-heading">Task Progress Overview</p>
      <p class="chart-sub-heading">Here's how your tasks are progressing:</p>
      <div class="chart-content">
        <canvas baseChart [data]="doughnutChartData" [options]="chartOptions" type="doughnut"></canvas>
      </div>
    </div>
  </ng-template>
