<footer class="footer">
  <div class="page-bg"></div>
  <div class="animation-wrapper">
    <div class="particle particle-1"></div>
    <div class="particle particle-2"></div>
    <div class="particle particle-3"></div>
    <div class="particle particle-4"></div>
  </div>
  <div class="footer-content">
    <div class="left">
      <h2>{{'FOOTER.LET_GET_DONE' | translate }}</h2>
      <p>{{'FOOTER.BE_PRODUCTIVE' | translate }}</p>
    </div>
    <div class="right">
      <div class="email-content">
        <strong>{{'FOOTER.EMAIL' | translate }}</strong> <a href="mailto:esakkimuthua2002&#64;gmail.com">esakkimuthua2002&#64;gmail.com</a>
      </div>
      <div class="phone-content">
        <strong>{{'FOOTER.PHONE' | translate }}</strong><a href="tel:+6598735984">(+91) 7339679918</a>
      </div>
      <div class="address-content">
        <strong>{{'FOOTER.ADDRESS' | translate }}</strong>
        <a href="https://www.google.co.in/maps/place/Gunaramanallur,+Tamil+Nadu">
          Gunaramanallur, Tenkasi<br>Tamil nadu<br>India
        </a>
      </div>
      <div class="social-icons">
        <div *ngFor="let details of socialMediaDetails">
          <a [href]="details.navigateLink" target="_blank">
            <img [src]="details.imageUrl" alt="social-media-icons" class="social-media-image">
          </a>
        </div>
        <div class="language-dropdown">
          <select class="language-simple" [value]="selectedLanguage()" (change)="onLanguageChange($event)">
            <option value="en">EN</option>
            <option value="ta">TA</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</footer>