@if(signUpForm){
<div class="content">
  <div class="container">
    <div class="form-container">
      <h2>Sign up</h2>
      <!-- <button class="google-signup-button" (click)="signUpWithGoogle()">
        <div class="google-icon-wrapper">
          <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" />
        </div>
        <span>Sign up with Google</span>
      </button>
      <p class="or-content">OR</p> -->
      <form [formGroup]="signUpForm">
        <mat-form-field appearance="outline" style="margin-bottom: 15px;">
          <mat-label>Your Name</mat-label>
          <input matInput placeholder="Enter your name" name="name" formControlName="name">
          <mat-icon matSuffix>person</mat-icon>
          @if(signUpForm.get('name')?.hasError('required') && signUpForm.get('name')?.touched){
          <mat-error>Name is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-bottom: 15px;">
          <mat-label>Your Email</mat-label>
          <input matInput placeholder="Enter your email" name="email" type="email" formControlName="email">
          <mat-icon matSuffix>email</mat-icon>
          @if(signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched){
          <mat-error>Email address is required</mat-error>
          }
          @if(signUpForm.get('email')?.hasError('pattern')){
          <mat-error>Invalid email address.</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-bottom: 0px;">
          <mat-label>Password</mat-label>
          <input matInput
                 [type]="hidePassword ? 'password' : 'text'"
                 placeholder="Enter your password"
                 formControlName="password" />
          <button class="password-button" mat-icon-button
                  matSuffix
                  type="button"
                  (click)="hidePassword = !hidePassword"
                  aria-label="Toggle password visibility">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          @if (signUpForm.get('password')?.hasError('required') && signUpForm.get('password')?.touched) {
            <mat-error>Password is required</mat-error>
          }
        </mat-form-field>
        <h1 (click)="toggleInfo()" class="learn-more-text">Not sure what this tracker does?</h1>
        <button (click)="signUp()" class="register-btn">
          @if (!loading) {
          REGISTER
          } @else {
          <div class="loader"></div>
          }
        </button>
      </form>
    </div>
    <div class="illustration">
      <img src="assets/signup-image.jpg" alt="Illustration">
      <div class="member-link">
        <a href="#">I am already member</a>
      </div>
    </div>
  </div>
</div>
}

<app-snack-bar #snackRef></app-snack-bar>

<ng-template #learnMoreDialog>
 <div class="dialog-content">
  <div class="dialog-section">
    <h6>✅ Create and Manage Tasks</h6>
    <p>Easily add new tasks by entering a title, description, start date, and end date. This helps you clearly define what needs to be done and when.</p>
  </div>
  <div class="dialog-section">
    <h6>📆 Track Progress</h6>
    <p>Mark tasks as "Open", "In Progress", or "Completed". Visual indicators help you understand your workflow at a glance.</p>
  </div>
  <div class="dialog-section">
    <h6>🧹 Auto-Cleanup Feature</h6>
    <p>When a task is marked as "Completed", it will be automatically deleted after 30 days to keep your dashboard clean and focused.</p>
  </div>
  <div class="dialog-footer">
    <button class="close-btn" (click)="closeDialog()">Close</button>
  </div>
</div>
</ng-template>
